.address_contianer {
  margin-top: 64px;
  background-color: #fcf3f6;
  padding-top: 48px;
  padding-bottom: 40px;
}
.addres__style {
  display: flex;
  gap: 28px;
  justify-content: center;
}
.address_content {
  max-width: 324px;
  width: 100%;
}
.address_contianer__title {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 12px;
}
.address_contianer__text {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 16px;
}
.address_contianer__link {
  color: #00f;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}
.address_contianer__text2 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 18px;
}
.address_contianer__text3 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 6px;
}

.address_contianer_box {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}
