.contact_container {
  margin-top: 64px;
  max-width: 716px;
  margin-left: auto;
  margin-right: auto;
}
.contact__title {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 16px;
}
.contact__text {
  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 32px;
  max-width: 590px;

  margin-left: auto;
  margin-right: auto;
}

.contact_form {
  max-width: 716px;
  width: 100%;
}
.form {
  display: flex;
  gap: 21px;
  justify-content: center;
  margin-bottom: 20px;
}
.form_input {
  max-width: 225px;
  width: 100%;
  padding: 10px 16px;
  color: #000;
  border: 0.643px solid #000;
  background-color: #fff;
  outline-color: rgb(0, 185, 0);
  ::placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.form2__input {
  width: 100%;
  border: 0.643px solid #000;
  outline-color: rgb(0, 185, 0);
  padding: 10px 16px;
  margin-bottom: 16px;
  ::placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

.form_commit {
  max-width: 716px;
  width: 100%;
  height: 144px;
}
.form__commit_input {
  width: 100%;
  height: 144px;
  resize: none;
  padding: 10px 16px;
  outline: none;
  border: 0.643px solid #000;
  margin-bottom: 20px;
  ::placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
.btn_box {
  text-align: end;
}
.btn {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.411px;
  border: 0.643px solid #000;
  background-color: #000;
  padding: 10px 19px;
  margin-bottom: 64px;
}
