.main_discover {
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/about_pg_discover_sec_img.png);
  background-size: cover;
  padding: 135px 0 145px 0;
}
.main_discover_sup_title {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 22px;
}
.main_discover_sup_text {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.857px;
  margin-bottom: 32px;
}
.main_discover_sup_btn {
  cursor: pointer;
  border: 1px solid #000;
  padding: 10px 23px;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.411px;
}
.main_discover_sup{
    max-width: 405px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
