.brand{
    background-image: url("../../assets/img/BrandBgImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.brand_section2 {
    margin-top: 64px;
    margin-bottom: 65px;
}

.brand_section2_title {
    padding-bottom: 24px;
}